{%- for element in type.sequence %}
  {%- if (element.min_occurs==0) and (element.max_occurs==1) %}
    {%- if (element.is_qes_type and element.xsd_type.xsd_basic_type=="complexType") %}
    IF (obj%{{element.tag_name}}_ispresent) &
      CALL {{element.xsd_type.reset_function_name()}}(obj%{{element.tag_name}})
    {%- endif %}
    obj%{{element.tag_name}}_ispresent = .FALSE.
  {%- elif (element.min_occurs==1) and (element.max_occurs==1) %}
    {%- if (element.is_qes_type and element.xsd_type.xsd_basic_type=="complexType") %}
    CALL {{element.xsd_type.reset_function_name()}}(obj%{{element.tag_name}})
    {%- endif %}
  {%- else %}
    {%- if (element.min_occurs==0) %}
    IF (obj%{{element.tag_name}}_ispresent) THEN
      IF (ALLOCATED(obj%{{element.tag_name}})) THEN
        {%- if (element.is_qes_type and element.xsd_type.xsd_basic_type=="complexType") %}
        DO i=1, SIZE(obj%{{element.tag_name}})
          CALL {{element.xsd_type.reset_function_name()}}(obj%{{element.tag_name}}(i))
        ENDDO
        {%- endif %}
        DEALLOCATE(obj%{{element.tag_name}})
      ENDIF
      obj%ndim_{{element.tag_name}} = 0
      obj%{{element.tag_name}}_ispresent = .FALSE.
    ENDIF
    {%- else %}
    IF (ALLOCATED(obj%{{element.tag_name}})) THEN
      {%- if (element.is_qes_type and element.xsd_type.xsd_basic_type=="complexType") %}
      DO i=1, SIZE(obj%{{element.tag_name}})
        CALL {{element.xsd_type.reset_function_name()}}(obj%{{element.tag_name}}(i))
      ENDDO
      {%- endif %}
      DEALLOCATE(obj%{{element.tag_name}})
    ENDIF
    obj%ndim_{{element.tag_name}} = 0
    {%- endif %}
  {%- endif %}
{%- endfor %}
