{%- if type_name in ["matrixType", "integerMatrixType"] %}
    IF (ALLOCATED(obj%dims)) THEN
      DEALLOCATE(obj%dims)
    ENDIF
    obj%rank = 0
    obj%order = 'F'
{%- elif type_name in ["vectorType", "integerVectorType"] %}
    obj%size = 0
{%- else %}
  {%- for attribute in attributes %}
    {%- if not attribute.is_required %}
    obj%{{attribute.name}}_ispresent = .FALSE.
    {%- endif %}
  {%- endfor %}
{%- endif %}