  !
  SUBROUTINE {{type.bcast_function_name()}}(obj, ionode_id, comm )
    !
    IMPLICIT NONE
    !
    TYPE({{type.fortran_type_name()}}), INTENT(INOUT) :: obj
    INTEGER, INTENT(IN) :: ionode_id, comm
    {%- if (type.extension_xsd_type_name=="matrixType") or (type.name=="matrixType") or
        (type.extension_xsd_type_name=="integerMatrixType") or (type.name=="integerMatrixType") %}
    INTEGER :: length
    {%- endif %}
    {%- if (type.extension_xsd_type_name=="matrixType") or (type.name=="matrixType") or
        (type.extension_xsd_type_name=="integerMatrixType") or (type.name=="integerMatrixType") or (type.has_multi_sequence()) %}
    INTEGER :: i
    {%- endif %}
    !
    CALL mp_bcast(obj%tagname, ionode_id, comm)
    CALL mp_bcast(obj%lwrite, ionode_id, comm)
    CALL mp_bcast(obj%lread, ionode_id, comm)
    !
{%- with type_name=type.name, attributes=type.attributes %}
{%- include "bcast_attributes.f90.j2" %}
{%- endwith %}
{%- with type_name=type.extension_xsd_type_name, attributes=type.extension_attributes(xsd_schema.sorted_complex_types()) %}
{%- include "bcast_attributes.f90.j2" %}
{%- endwith %}
{%- include "bcast_sequence.f90.j2" %}
{%- if type.extension_xsd_type_name != None %}
{%- include "bcast_extension.f90.j2" %}
{%- endif %}
    !
  END SUBROUTINE {{type.bcast_function_name()}}
  !
