{%- if (type.extension_xsd_type_name=="vectorType") or (type.name == "vectorType") or
    (type.extension_xsd_type_name =="integerVectorType") or (type.name == "integerVectorType") %}
    IF (.NOT.ionode) ALLOCATE(obj%{{type.name.replace('Type','')}}(obj%size))
    CALL mp_bcast(obj%{{type.name.replace('Type','')}}, ionode_id, comm)
{%- elif (type.extension_xsd_type_name=="matrixType") or (type.name=="matrixType") or
    (type.extension_xsd_type_name=="integerMatrixType") or (type.name=="integerMatrixType") %}
    IF (.NOT. ionode) THEN
      length = 1
      DO i=1, obj%rank
        length = length * obj%dims(i)
      END DO
      ALLOCATE (obj%{{type.name.replace('Type','')}}(length) )
    ENDIF
    CALL mp_bcast(obj%{{type.name.replace('Type','') }}, ionode_id, comm)
{%- elif (type.extension_xsd_type_name=="doubleListType") %}
    !CALL mp_bcast(obj%?????, ionode_id, comm) NEVER HAPPENED
{%- else %}
    CALL mp_bcast(obj%{{type.name.replace('Type', '')}}, ionode_id, comm)
{%- endif %}