{%- if type_name in ["matrixType", "integerMatrixType"] %}
   {%- include "read_matrix_attributes.f90.j2" %}
{%- elif type_name in ["vectorType", "integerVectorType"] %}
   {%- include "read_vector_attribute.f90.j2" %}
{%- else %}
{%- for attribute in attributes %}
    IF (hasAttribute(xml_node, "{{attribute.name}}")) THEN
      CALL extractDataAttribute(xml_node, "{{attribute.name}}", obj%{{attribute.name}})
  {%- if attribute.is_required %}
    ELSE
      IF ( PRESENT(ierr) ) THEN
         CALL infomsg ( "qes_read: {{ type_name }}",&
                        "required attribute {{ attribute.name }} not found" )
         ierr = ierr + 1
      ELSE
         CALL errore ("qes_read: {{ type_name }}",&
                      "required attribute {{ attribute.name }} not found", 10 )
      END IF
  {%- else %}
      obj%{{attribute.name}}_ispresent = .TRUE.
    ELSE
      obj%{{attribute.name}}_ispresent = .FALSE.
  {%- endif %}
    END IF
    !
{%- endfor %}
{%- endif %}