    IF (hasAttribute(xml_node, "rank"))  THEN
        CALL extractDataAttribute(xml_node, "rank", obj%rank)
    ELSE
        CALL errore ("qes_read: {{ type.name }}",&
                      "required attribute rank not found, can't read further, stopping", 10 )
    END IF
    ALLOCATE (obj%dims(obj%rank))
    IF (hasAttribute(xml_node, "dims")) THEN
        CALL extractDataAttribute(xml_node, "dims", obj%dims)
    ELSE
        CALL errore ("qes_read: {{ type.name }}",&
                      "required attribute dims not found, can't read further, stopping", 10 )
    END IF
    IF (hasAttribute(xml_node,"order")) THEN
        CALL extractDataAttribute(xml_node, "order", obj%order)
    ELSE
        obj%order = "F"
    END IF
    !